<div class="col-md-4 col-md-offset-4">
    <h2>编辑我发表的文章</h2>

    <hr>
    <%= form_for @post do |f| %>


    <%= f.text_area :description %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
